.header {
  max-width: 980px;
  height: 90px;
  // background-color: blue;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $travel-white;
  font-family: Gill;

  .logo {
    background-image: url(../assests/images/logo-white.svg);
    height: 42px;
    width: 92px;
    // background-color: cadetblue;
  }

  nav {
    a {
      text-decoration: none;
      color: $travel-white;
      font-family: Gill;
      border-right: 1px solid $travel-blue;
      margin-left: 40px;

      // display: flex;
      // justify-content: space-between;
    }
  }
}
