.uaeHero {
    min-height: 413px;
    max-width: 981px;
    // background-color: brown;
    margin: 0 auto;
    // padding-top: 50px;
    background-image: linear-gradient(to right, $travel-black, $travel-black), 
    url(../assests/images/tours-page/tour-09.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    .heroTitle {
        color: white;
        padding-left: 15px;
        padding-top: 20px;
        font-size: 80px;
    }

    .starting {
        color: white;
        padding-top: 400px;
        padding-left: 640px;
        font-size: 30px;

    }
}

.uaeImages {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 981px;
    min-height: 347px;
    // background-color: burlywood;
    display: flex;
    justify-content: space-between;

    .uaePicOne {
        height: 347px;
        width: 298px;
        background-color: cadetblue;
        background-image: url(../assests/images/tour-uae/uae-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .uaePicTwo {
        height: 347px;
        width: 298px;
        background-color: cadetblue;
        background-image: url(../assests/images/tour-uae/uae-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .uaePicThree {
        height: 347px;
        width: 298px;
        background-color: cadetblue;
        background-image: url(../assests/images/tour-uae/uae-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


}

.uaeDays {
    padding-top: 30px;
    flex-direction: column;
    // background-color: red;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    // min-height: 775px;
    max-width: 981px;

    .uaeDayOne {
        
        max-width: 981px;
        min-height: 205px;
        // background-color: chocolate;
        // padding-bottom: 100px;
    }

    .uaeDayTwo {
        // padding-top: 100px;
        max-width: 981px;
        min-height: 205px;
        // background-color: chocolate;
    }

    .uaeDayThree {
        // padding-top: 100px;
        max-width: 981px;
        min-height: 205px;
        // background-color: chocolate;
    }

}


.block {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .bookNow {
        
        margin: 0 auto;
        width: 133px;
        height: 40px;
        background-color: cornflowerblue;
    }

}


@media only screen and (max-width: 1160px) {
    .uaeDays {
      width: 800px;
    }

    .uaeImages {
        width: 350px;
        flex-wrap: wrap;
        
        
        
    }

    .uaeHero {
        width: 800px; 
    }
  }